.header {
    border-bottom: 1px solid var(--grey-3);
}

.header__interior {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: var(--max-width);
    padding: 12px 16px;
}

.header__list {
    align-items: center;
    display: flex;
}

.header__list-item {
    list-style-type: none;
}

.header__button {
    margin-left: 24px;
}

.header__anchor {
    color: var(--grey-5);
    display: block;
    height: 100%;
    font-weight: 300;
    font-size: 14px;
    margin-left: 24px;
    transition: all ease-in-out 0.15s;
}

.header__anchor:hover {
    color: #000;
}

.header__profile-picture {
    border: 1px solid var(--grey-4);
    border-radius: 100%;
    height: 28px;
    transition: all ease-in-out 0.15s;
    width: 28px;
    vertical-align: middle;
}

.header__logo {
    width: 150px;
}

.mobile {
    display: none;
}

@media (max-width: 800px) {
    .header__interior {
        flex-wrap: wrap;
    }

    .header__list {
        flex-wrap: wrap;
    }

    .header__list-item:first-child a {
        margin-left: 0;
    }
}

@media (max-width: 600px) {
    .header__anchor {
        margin-left: 16px;
    }

    .mobile {
        display: block;
    }

    .header__list {
        align-items: baseline;
        flex-direction: column;
        gap: 32px;
    }

    .header__anchor {
        margin-left: 0;
    }

    .header__button {
        margin-left: 0;
    }

    .header__list--big {
        display: none;
    }
}
