.container {
	border: 1px solid #e5e7eb;
	border-radius: 4px;
	font-size: 14px;
	margin-top: 4px;
	max-height: 100px;
	max-width: 250px;
	overflow-y: scroll;
	padding: 6px 8px;
	position: relative;
}

.helper-text {
	color: var(--grey-5);
	font-size: 12px;
}
