.overview__interior {
    border-bottom: 1px solid var(--grey-4);
    max-width: calc(var(--max-width) - 1000px);
    margin: 0 auto;
    padding: 32px 0;
}

.overview__title {
    font-weight: 600;
    font-size: 36px;
    margin-left: -3px;
    margin-right: 24px;
}

.overview__id {
    color: var(--grey-2);
    font-family: monospace;
    font-size: 10px;
    font-weight: 400;
    margin-right: 8px;
}

.overview__link {
    display: inline-block;
    margin: 16px 0 0 0;
}

.overview__ids {
    display: flex;
    margin: 16px 0 0 0;
}
