.overview__interior {
	border-bottom: 1px solid var(--grey-4);
	max-width: var(--max-width-md);
	margin: 0 auto;
	padding: 0 0 32px 0;
}

.overview__badge-desc-container {
	align-items: center;
	display: flex;
	margin-top: 16px;
}

.overview__privacy-badge {
	margin-right: 16px;
}

.overview__title {
	font-weight: 600;
	font-size: 36px;
	margin-left: -3px;
	margin-right: 24px;
}

.overview__description {
	color: var(--grey-1);
	font-size: 14px;
}

.overview__id {
	color: var(--grey-2);
	font-family: monospace;
	font-size: 10px;
	font-weight: 400;
	margin-right: 8px;
	white-space: nowrap;
}

.overview__link {
	display: inline-block;
	margin: 16px 0 0 0;
}

.overview__ids {
	display: flex;
	margin: 16px 0 0 0;
	overflow-x: scroll;
}
