:root {
  --max-width: 2100px;
  --max-width-lg: 1100px;
  --max-width-md: 900px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;


  
  --grey-1: #454545;
  --grey-2: #afafaf;
  --grey-3: #f7f7f7;
  --grey-4: #d6d6d6;
  /* brightest grey that passes contrast on white */
  --grey-5: #757575; 

  --color-red-dark: #5d2020;
  --color-red-light: #ba1f1f;
}

.tremor-base input {
  border-color: #e5e7eb;
  border-width: 1px;
}

[data-component="multiselect"] > div {
  /* Styles */
  border-color: #e5e7eb;
  border-width: 1px;
}

* {
  border: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
