.main-container {
    margin: 0 auto;
    max-width: var(--max-width);
    padding: 64px 42px;
}

.section {
    background-color: #bcefce;
    padding: 62px;
}

.section-title-container {
    align-items: baseline;
    display: flex;
}

.section-title {
    color: var(--grey-1);
}

.button-overrides {
    cursor: pointer;
}

.container {
    padding: 16px 0;
}

.interface-container {
    display: flex;
    padding: 24px 0;
    flex-wrap: wrap;
}

.interface-card-link {
    margin: 0 16px 16px 0;
}

.main-links {
    margin-top: 32px;
}

.main-links > a {
    margin-right: 16px;
}

.delete-authentication-button-container {
    display: flex;
    margin: 0 auto;
    max-width: var(--max-width-md);
    justify-content: flex-end;
}

.create-account-modal {
    width: 60% !important;
    max-height: 80% !important;
    margin: 10vh !important;
}

@media screen and (max-width: 750px) {
    .main-container {
        padding: 64px 10px;
    }
}
