.main-container {
	margin: 0 auto;
	max-width: var(--max-width);
	padding: 64px 42px;
}

.section {
	background-color: #bcefce;
	padding: 62px;
}

.form-container {
	display: flex;
	flex-direction: column;
	max-width: var(--max-width-lg);
	margin: 16px auto;
	padding: 48px 72px;
	border: 1px solid var(--grey-4);
}

.section-title-container {
	align-items: baseline;
	display: flex;
}

.section-title {
	color: var(--grey-1);
}

.section-title__link {
	color: var(--grey-5);
	font-size: 12px;
	margin-left: 16px;
	text-decoration: underline;
}

.button-overrides {
	cursor: pointer;
}

.container {
	padding: 16px 0;
}

.table-container {
	padding: 0 16px;
}

.interface-container {
	display: flex;
	padding: 24px 0;
	flex-wrap: wrap;
}

.interface-card {
	margin: 0 16px 16px 0;
}

.main-links {
	margin-top: 32px;
}

.delete-authentication-button-container {
	display: flex;
	margin: 0 auto;
	max-width: var(--max-width-md);
	justify-content: flex-end;
}
