.root {
	align-items: center;
	background-color: #f3f3f3;
	border-radius: 16px;
	display: inline-flex;
	padding: 6px 14px;
	max-height: 32px;
}

.icon {
	stroke: #565656;
	height: 18px;
	width: 18px;
	margin-right: 8px;
}

.text {
	color: #565656;
	font-size: 12px;
}
