.footer {
	margin-top: 64px;
	border-top: 1px solid var(--grey-4);
	padding: 16px;
}

.footer__text {
	font-size: 12px;
	margin-top: 16px;
}

.footer__copy {
	color: var(--grey-5);
	font-size: 12px;
	margin: 8px 0;
}
