.footer {
    border-top: 1px solid var(--grey-4);
    padding: 16px;
}

.footer__text {
    font-size: 12px;
    margin-top: 16px;
}

.footer__copy {
    color: var(--grey-5);
    font-size: 12px;
    margin: 16px 0;
}

.footer__links {
    display: flex;
    flex-wrap: wrap;
    margin: 16px 0;
}

.footer__link {
    color: var(--grey-5);
    font-size: 12px;
    margin-right: 16px;
    transition: all ease-in-out 0.15s;
}

.footer__link:hover {
    color: var(--grey-1);
}

.footer__link:first-child {
    margin-left: 0;
}

.footer__logo {
    width: 150px;
}

.footer__socials {
    margin: 8px 0;
}

.footer__icon-link {
    color: var(--grey-5);
    font-size: 12px;
    margin-right: 24px;
    transition: all ease-in-out 0.15s;
}

.footer__icon {
    display: inline;
    transform: translateY(-1px);
    width: 18px;
    height: 18px;
}

.footer__icon-link:hover {
    color: var(--grey-1);
}

.footer__icon--x {
    width: 16px;
    height: 16px;
}
