.add-token__input {
	margin-bottom: 16px;
}

.add-token__form-container {
	max-width: 500px;
}

.add-token__new-token {
	background-color: #dcf7da;
	border: 1px solid #50664e;
	border-radius: var(--border-radius-primary);
	color: #50664e;
	line-height: 1.4;
	resize: none;
	padding: 16px;
	width: 100%;
}

.add-token__new-token-container {
	margin: 16px 0;
}

.add-token__new-token-label {
	display: block;
	color: var(--grey-1);
	font-size: 13px;
	margin-right: 16px;
	margin-bottom: 2px;
}

.add-token__error {
	color: red;
	font-size: 14px;
	margin-top: 8px;
}

.token-display__no-tokens {
	color: var(--grey-5);
	font-size: 14px;
	text-align: center;
	margin-top: 16px;
}

.token-display__table {
	--width: 100%;
	margin-top: 48px;
	overflow-x: scroll;
	width: auto;
}

.token-display__row {
	align-items: center;
	border-bottom: 1px solid var(--grey-4);
	display: flex;
	width: var(--width);
}

.token-display__row-header {
	align-items: center;
	border-bottom: 1px solid var(--grey-5);
	display: flex;
	width: var(--width);
}

.token-display__entry {
	color: var(--grey-5);
	font-family: monospace;
	font-size: 12px;
	margin-right: 8px;
	min-width: 160px;
	max-width: 175px;
	overflow: hidden;
	padding: 16px 16px 16px 0;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.token-display__entry--header {
	color: var(--grey-1);
}

.token-display__row-button-overrides {
	padding-left: 0;
}

.token-display__row-button-loading {
	margin-left: 4px;
}

@media (max-width: 700px) {
	.token-display__table {
		--width: max-content;
	}
}
