.header {
    border-bottom: 1px solid var(--grey-2);
}

.header__logo {
    width: 32px;
}

.header__left {
    align-items: center;
    display: flex;
}

.header__crumbs {
    align-items: center;
    margin-left: 32px;
    display: flex;
}

.crumbs__separator {
    color: var(--grey-2);
    font-weight: 300;
    margin: 0 8px;
}

.crumbs__anchor {
    color: var(--grey-5);
    border-radius: 4px;
    height: 100%;
    font-weight: 300;
    font-size: 0.875rem;
    transition: all ease-in-out 0.15s;
    padding: 4px 8px;
}

.crumbs__anchor--bold {
    font-weight: 600;
    color: var(--grey-1);
    margin-right: 16px;
}

.crumbs__anchor:hover {
    color: var(--grey-1);
    background-color: var(--grey-3);
}

.header__interior {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: var(--max-width);
    padding: 12px 16px;
}

.header__list {
    align-items: center;
    display: flex;
}

.header__list-item {
    list-style-type: none;
}

.header__anchor {
    color: var(--grey-5);
    display: block;
    height: 100%;
    font-weight: 300;
    font-size: 0.875rem;
    margin-left: 24px;
    transition: all ease-in-out 0.15s;
}

.header__anchor:hover {
    color: #000;
}

.header__profile-picture {
    border: 1px solid var(--grey-4);
    border-radius: 100%;
    height: 28px;
    transition: all ease-in-out 0.15s;
    width: 28px;
    vertical-align: middle;
}

@media (max-width: 750px) {
    .header__logo {
        width: 24px;
    }
    .header__crumbs {
        margin-left: 0px;
    }
    .crumbs__separator {
        margin: 0 4px;
    }
    .crumbs__anchor {
        line-height: 2;
        font-size: 0.75rem;
    }
    .crumbs__anchor:last-child {
        margin-right: 0;
    }
    .header__interior {
        padding: 6px 8px;
    }
}
