.code-container {
	margin: 16px 0;
	max-width: 600px;
	overflow-x: scroll;
}

.code {
	display: inline-block;
	color: var(--grey-5);
	font-size: 12px;
	line-height: 1.5;
	max-width: 600px;
	word-wrap: break-word;
	white-space: pre;
	overflow: scroll;
}
